.CentraPage-admin {
    display: flex;
    height: 100vh;
  }
  
  .CentraContent-admin {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  
  .CentraTableContainer-admin {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0px 20px 20px;
  }
  
  .CentraHeader-admin {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 12px;
    padding-bottom: 5px;
  }
  
  .CentraTitle-admin {
    font-size: 32px;
    font-family: "Helvetica";
    color: #04315b;
    text-align: left;
    margin: 0;
    font-weight: bold;
  }
  
  .createCentraButton-admin {
    margin-left: auto;
    background-color: transparent;
    color: black !important;
    border: 1px solid black !important;
    border-radius: 50px;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 14px;
    font-weight: 500;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  
    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }
  
  .fixdash {
    background-color: #04315b;
    width: 15vw;
    min-width: 250px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    font-family: 'Helvetica', sans-serif;
  }
  