.header-admin {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
  }
  
  .backButton-admin {
    margin-right: 20px;
    border: none;
    padding: 0;
    background: transparent;
    color: #04315b;
  }
  
  .pageTitle-admin {
    color: #04315b;
    font-family: var(--font-helvetica-neue);
    font-size: 32px;
  }
  