@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "HelveticaNeueThin";
  src: url("./Storage-Mobile/assets/fonts/HelveticaNeueThin.otf")
    format("opentype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "HelveticaNeueUltraLight";
  src: url("./Storage-Mobile/assets/fonts/HelveticaNeueUltraLight.otf")
    format("opentype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "HelveticaNeueLight";
  src: url("./Storage-Mobile/assets/fonts/HelveticaNeueLight.otf")
    format("opentype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "HelveticaNeueRoman";
  src: url("./Storage-Mobile/assets/fonts/HelveticaNeueRoman.otf")
    format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "HelveticaNeueMedium";
  src: url("./Storage-Mobile/assets/fonts/HelveticaNeueMedium.otf")
    format("opentype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "HelveticaNeueBold";
  src: url("./Storage-Mobile/assets/fonts/HelveticaNeueBold.otf")
    format("opentype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "HelveticaNeueHeavy";
  src: url("./Storage-Mobile/assets/fonts/HelveticaNeueHeavy.otf")
    format("opentype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "HelveticaNeueBlack";
  src: url("./Storage-Mobile/assets/fonts/HelveticaNeueBlack.otf")
    format("opentype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "MuseoModerno-Bold";
  src: url("./Storage-Mobile/assets/fonts/MuseoModerno-Bold.ttf")
    format("truetype");
  font-weight: 700;
  font-style: normal;
}
